{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sklep{% endblock %}</title>
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="../product">Lista produktów</a></li>
                    <li><a href="../product/add">Dodaj produkt</a></li>
                    <li><a href="../category">Lista kategorii</a></li>
                    <li><a href="../product/add">Dodaj kategorię</a></li>
                </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
